<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(title, remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

	<title>[[${title}]] - [[${SITE_NAME}]]</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" th:href="@{css/style.css}">

	<!-- Admin css -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
	<link id="pagestyle" th:href="@{/product-site/css/material-dashboard.css?v=3.1.0}" rel="stylesheet" />

	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<a th:fragment="page_link(moduleURL, pageNum, label)" class="page-link"
		th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
		[[${label}]] </a>

	<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
		<a class="text-white"
			th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
			[[${columnLabel}]]
		</a>
		<span th:if="${sortField == fieldName}"
			th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	</th>


	<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]] </span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No [[${entityName}]] Found</span>
		</div>

		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center">
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${moduleURL}, 1, '&laquo;')"> </a>
					</li>

					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1} , '-')"> </a>
					</li>

					<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}">
						<a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"> </a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1} , '+')"> </a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${moduleURL}, ${totalPages} , '&raquo;')"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="modalBody"></span>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="format_currency(amount)" th:remove="tag">
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
		[[${#numbers.formatDecimal(amount, 1, 'COMMA', 0, 'POINT')}]]
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
	</div>




	<div th:fragment="format_time(dateTime)" th:remove="tag">
		<span th:text="${#dates.format(dateTime, 'dd-MM-yyyy HH:mm:ss')}"></span>
	</div>


	<div th:fragment="currency_input(amount)" th:remove="tag">
		<input type="text" readonly class="form-control"
			th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, 'COMMA', 0, 'POINT') + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}">
	</div>

	<!--   Core JS Files   -->
	<script th:src="@{/product-site/js/core/popper.min.js}"></script>
	<script th:src="@{/product-site/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/product-site/js/plugins/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/product-site/js/plugins/smooth-scrollbar.min.js}"></script>
	<script>
		var win = navigator.platform.indexOf('Win') > -1;
		if (win && document.querySelector('#sidenav-scrollbar')) {
			var options = {
				damping: '0.5'
			}
			Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
		}
	</script>

	<!-- Github buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>


	<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/product-site/js/material-dashboard.min.js?v=3.1.0}"></script>
</body>

</html>