<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Đơn hàng', 'none')" />

<body>


	<div class="row">
		<div class="col-md-2"  style="background: #4e73df; background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);">
			<div class="container-fluid">
				<div th:replace="navigation :: menu"></div>
			</div>
		</div>

		<div class="col-md-10 p-3">
			<div class="row">
				<!-- Navbar header -->
				<div class="col-12">
					<div class="container-fluid">
						<div th:replace="nav_header :: nav_header('Quản Lí Đơn Hàng', '')"></div>
					</div>

				</div>

				<div class="col-12">
					<div class="container-fluid">
						<div style="min-height: calc(100vh - 200px);">
							<!-- Table -->
							<div class="card my-4">
								<div class="d-flex justify-content-between align-items-baseline">
									<!-- Action list -->
									<div class="d-flex justify-content-between align-items-center mt-3 mx-3"></div>

									<!-- Search -->
									<div class="search-action mx-3">
										<div th:replace="fragments :: search_form_and_message" />
									</div>
								</div>

								<!-- Core table -->
								<div class="card-body px-0 pb-2">
									<div class="table-responsive p-0">
										<table class="table align-items-center mb-0">
											<thead>
												<tr>
													<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center"
														th:replace="fragments :: column_link('/orders','id', 'ID', 'none')">
													</th>
													<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center"
														th:replace="fragments :: column_link('/orders', 'customer', 'Khách hàng', 'none')">
													</th>
													<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center"
														th:replace="fragments :: column_link('/orders', 'total', 'Tổng tiền', 'none')">
													</th>
													<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center"
														th:replace="fragments :: column_link('/orders', 'orderTime', 'Thời gian', 'none')">
													</th>
													<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center"
														th:replace="fragments :: column_link('/orders', 'destination', 'Địa chỉ', 'none')">
													</th>
													<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center"
														th:replace="fragments :: column_link('/orders', 'paymentMethod', 'Thanh toán', 'none')">
													</th>
													<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center"
														th:replace="fragments :: column_link('/orders', 'status', 'Status', 'none')">
													</th>
													<th
														class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 text-center">
														Hành động
													</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="order : ${listOrders}">
													<td class="text-center">[[${order.id}]]</td>
													<td class="text-center">
														<a class="linkCustomerDetail"
															th:href="@{'/customers/detail/' + ${order.customer.id}}">
															[[${order.customer.fullName}]]
														</a>
													</td>
													<td class="text-center">
														<div th:replace="fragments :: format_currency(${order.total})">
														</div>
													</td>
													<td class="text-center">
														<div th:replace="fragments :: format_time(${order.orderTime})">
														</div>
													</td>
													<td class="text-center">[[${order.destination}]]</td>
													<td class="text-center">[[${order.paymentMethod}]]</td>
													<td class="text-center">[[${order.status}]]</td>
													<td class="text-center">
														<a th:href="@{'/orders/detail/' + ${order.id}}"
															class="btn btn-dark btn-xl linkOrderDetail">
															<i class="fas fa-file-alt"></i> Xem
														</a>
														&nbsp;
														<div th:replace="fragments :: edit('order', '/orders/edit/' + ${order.id})"
															class="d-inline-block"></div>
														&nbsp;
														<div th:replace="fragments :: delete('order', ${order.id}, '/orders/delete/' + ${order.id}, true)"
															class="d-inline-block"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<!-- <div th:replace="fragments :: pagination('orders')"></div> -->

								<div th:replace="modal_fragments :: confirm_modal" />
							</div>
						</div>

						<div th:replace="fragments :: footer"></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			</div>
		</div>
	</div>

	<div class="modal fade" id="orderDetailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			</div>
		</div>
	</div>



	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/orders}]]";

		$(document).ready(function () {
			handleLinkViewCustomerDetails();
			handleLinkViewOrderDetails();
			handleLinkDeleteOrder();
		});

		function handleLinkDeleteOrder() {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'order');
			});
		}

		function handleLinkViewCustomerDetails() {
			$(".linkCustomerDetail").on("click", function (e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#customerDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
		}

		function handleLinkViewOrderDetails() {
			$(".linkOrderDetail").on("click", function (e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#orderDetailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
		}
	</script>
</body>

</html>