<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Quên mật khẩu', 'none')"/>

<body>
	
		<div th:replace="navigation :: header_menu"></div>
    <div class="container-fluid text-center">
        <div>&nbsp;</div>
		<div class="container text-center mt-5">
            <h2>Quên mật khẩu</h2>
        
            <form th:action="@{/forgot_password}" method="post" class="mx-auto" style="max-width: 420px;">
                <div th:if="${error != null}" class="alert alert-danger">
                    [[${error}]]
                </div>
                <div th:if="${message != null}" class="alert alert-warning">
                    [[${message}]]
                </div>
        
                <div class="border border-secondary rounded p-4 shadow-sm">
                    <p class="mb-4">Cung cấp e-mail tài khoản để lấy lại mật khẩu</p>
                    <div class="form-group mb-3">
                        <input type="email" name="email" class="form-control" required autofocus placeholder="E-mail">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Gửi</button>
                </div>
            </form>
        </div>
        

		<div th:replace="navigation :: footer_menu"></div>
		<div>

		</div>
	</div>
</body>
</html>