<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Error - Book.store Admin', 'none')">
</head>
<body>
    <div class="row">
        <div class="col-2"  style="background: #4e73df; background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);">
            <div class="container-fluid">
                <div th:replace="navigation :: menu"></div>
            </div>
        </div>

        <div class="col-10">

            <div class="container-fluid">

                <div class="m-3">
                    <h2>403</h2>
                </div>

                <div th:replace="fragments :: footer"></div>
            </div>
        </div>
    </div>


</body>
</html>
